.bs-callout.bs-callout-warning
  Since this project leverages the latest in HTML5 technologies (WebRTC, audio etc), it is recommented that 
  you use an advanced browser such as
  = succeed '.' do
    = link_to 'Google Chrome', 'https://www.google.com/intl/en-US/chrome/browser/', target: '_blank'