.container
  .col-lg-4.col-lg-offset-4.well
    %h1.text-info.text-center
      GenieChat

    / = render partial: 'shared/browser_warning'

    .text-center
      = link_to user_omniauth_authorize_path(:google_oauth2), class: 'btn btn-danger btn-lg', target: '_self' do
        %i.fa.fa-google-plus
        Sign in with Google+