/*
 *= require bootstrap
 *= require docs
 *= require fontawesome
 *= require alertify
 *= require alertify/alertify.core
 *= require alertify-bootstrap-3
 *= require highlightjs/monokai
 *= require angular-loading-bar
 *= require ng-tags-input
 *= require themify-icons
 */

html {
  ::-webkit-scrollbar-track {
  	background: #f1f1f1;
  }

  ::-webkit-scrollbar {
    width: 8px;
  	background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
  	background: #555;
  }
}

body {
  padding-top: 80px;
  background: #eee;
  font-weight: 200;
}

h1, h2, h3, h4, h5 {
  font-weight: 100;
  -webkit-text-stroke: .9px;
}

input[type=file] {
  max-width: 100%;
}

.navbar {
  background: #fff;
  border-bottom: 1px solid rgba(0,0,0, .2);
}

.navbar-brand {
  font-weight: 400;
}

.container {
  padding-left: 25px;
  padding-right: 25px;

  @media(min-width: 1200px) {
    width: auto
  }

  .page-header {
    &:first-of-type {
      margin-top: 0
    }
  }
}

.well {
  background: #fff;
  border-width: 1px 1px 2px;
  border-style: solid;
  border-color: rgba(0,0,0, .1) rgba(0,0,0, .1) rgba(0,0,0, .2);
}

.modal-header {
  border-radius: 4px 4px 0 0;
}

.modal-content {
  box-shadow: 0 0 15px rgba(0,0,0, .25), 0 0 1px 1px rgba(0,0,0, .2);
  border: 0;
}

.modal-backdrop {
  &.in {
    opacity: .2;
  }
}

.modal-header {
  .close {
    margin-top: -5px;
    font-size: 2em;
    font-weight: 200;
  }
}

.modal-footer {
  background: #f5f5f5;
  border-radius: 0 0 4px 4px;

  .btn + .btn {
    margin-left: 0;
  }
}

.form-control {
  &:focus {
    box-shadow: none;
  }
}

.btn {
  font-family: inherit;
  font-weight: inherit;
  text-shadow: none;
  border: none;

  &:focus,
  &:active:focus,
  &.active:focus {
    outline: none;
    box-shadow: none;
  }

  i[class*=ti] {
    font-weight: 600;
  }
}

.btn-danger {
  background: #c0392b;
}

.btn-primary {
  background: #3498db;
}

.btn-success {
  background: #73ba41;
}

#messages-area {
  padding-bottom: 100px;
}

#message-box {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 15px;
  background: #fff;
  border-top: 1px solid rgba(0,0,0, .2);
  display: -webkit-flex;
  display: flex;

  input[type=text] {
    margin-right: 10px;
    flex: 1;
  }
}

.message {
  margin-top: 5px;

  .media-heading {
    margin-bottom: 0;
  }

  .media-body {
    background: #fff;
    padding: 10px;
    border-width: 1px 1px 2px;
    border-style: solid;
    border-color: rgba(0,0,0, .14) rgba(0,0,0, .14) rgba(0,0,0, .15);
  }
}

.chat-room {
  border: 1px solid rgba(0,0,0, .1);
  border-radius: 4px;

  .header {
    background: #fff;
    padding: 10px 15px;
    font-size: 1.3em;
    border-bottom: 1px solid rgba(0,0,0, .1);
    border-radius: 4px 4px 0 0;
  }

  .body {
    padding: 15px;
    background: #fff;
    border-radius: 0 0 4px 4px;
  }
}

.text-success {
  color: #73ba41;
}

tags-input {
  .tags {
    box-shadow: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    box-shadow: none;
    -webkit-appearance: none;

    .tag-item {
      background: #f39c12;
      color: #fff;
      border: none;

      .remove-button {
        color: inherit;
      }
    }

    &.focused {
      box-shadow: 0 0 0;
    }
  }
}

.top-spacing {
  margin-top: 10px;
}

.double-top-spacing {
  margin-top: 20px;
}

.img-framed {
  background: #fff;
  padding: 2px;
  border: 1px solid #ddd;
}

.list-with-spacing {
  > li {
    padding: 5px 0;
  }
}

.drupload-container {
  padding: 10px 15px;
  border: 1px dashed #999;
  background: rgba(255, 255, 255, .7);
  text-align: center;
}

#videos-list {
  video {
    height: 100px;
    max-width: 100%;
  }
}

